<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
      <center><a href="/student/{{ mark['student_id'] }}" class="student"><h1>Student Details</h1></a>
        <h1>Marks</h1></center>
      <table id="mark-details">
        <tr>
          <th>Student_Id</th>
          <th>Maths</th>
          <th>Science</th>
          <th>Social</th>
          <th>English</th>
          <th>Tamil</th>
        </tr>
        <tr>
          <td>{{ mark["student_id"] }}</td>
          <td>{{ mark["maths"] }}</td>
          <td>{{ mark["science"] }}</td>
          <td>{{ mark["social"] }}</td>
          <td>{{ mark["english"] }}</td>
          <td>{{ mark["tamil"] }}</td>
        </tr>
      </table>
      <a href="/" class="go-back">Go Back</a>
    </body>
  </html>